beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
gevent==24.11.1
greenlet==3.1.1
pycparser==2.22
schedule==1.2.2
selenium==4.29.0
setuptools==77.0.3
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
websocket==0.2.1
websocket-client==1.8.0
zope.event==5.0
zope.interface==7.2
